name: wear_os_step_counter
description: A simple Wear OS app for testing the step counting widget
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  pasos_package:
    path: "C:/repos/pasos_package"
  pedometer: ^4.1.1
  permission_handler: ^11.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
